.subPath{
    font-size: 1em;
}

.subPathTitle{
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.arrowUp {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.arrowDown {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
